@import "src/@fuse/scss/fuse";

.picture-content {
    height: 32vh;
}

.profile-image {
    //display: block;
    margin-left: auto;
    margin-right: auto;
    //width: 85%;

    //@include media-breakpoint('sm') {
    //    margin: 0 0 16px 0;
    //}
}

.wrapper{
    display:flex;

}

.secondary-text{
    flex: 1
}

.icon-cls{
    flex: 1;
    text-align:right;
}

.button-position {
    top: -9px;
}

.title {
    font-size: 17px;
}
