
.group {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        font-size: 21px;
        line-height: normal;
        border-radius: 50%;
        margin-right: 16px;
    }

    .name {
        font-weight: 600;
        font-size: 15px;
        font-weight: bold;
    }

    .members {
        margin-top: 8px;
    }
}