<div id="forgot-password"
     class="inner-scroll"
     fxLayout="row"
     fxLayoutAlign="start">

    <div id="forgot-password-intro"
         fxFlex
         fxShow.gt-xs>

        <img style="width: 60%;" src="assets/images/logos/WUK_TEXT_LOGO.png">

        <div class="title-text"
             [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            {{'GLOBAL_MAIN_TEXT.TRUST_REALITY'| translate}}
        </div>

<!--        <div class="logo"-->
<!--             [@animate]="{value:'*',params:{scale:'0.2'}}">-->
<!--            <img src="assets/images/logos/fuse.svg">-->
<!--        </div>-->

<!--        <div class="title"-->
<!--             [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">-->
<!--            World University Knowledge-->
<!--        </div>-->

        <div class="description"
             [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
        </div>

    </div>

    <div id="forgot-password-form-wrapper"
         fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo">
<!--                <img src="assets/images/logos/fuse.svg">-->
                <img src="assets/images/logos/WUK_logo.png">
            </div>

            <div class="title text-align">
                {{'OPEN_EMAIL.TOKEN_WAS_GENERATED'| translate}}
            </div>

            <br>

            <div class="text-align">
                {{'OPEN_EMAIL.PLEASE_OPEN_EMAIL'| translate}}
            </div>

            <div class="separator">
                <span class="text">
                    {{'OPEN_EMAIL.GO_TO'| translate}}
                </span>
            </div>

            <div class="login"
                 fxLayout="row"
                 fxLayoutAlign="center center">
                <a class="link"
                   [routerLink]="'/login'">
                    {{'OPEN_EMAIL.LOGIN'| translate}}
                </a>
            </div>

        </div>

    </div>

</div>
