<div *ngIf="searchType === 'all'"
     infiniteScroll
     fusePerfectScrollbar
     [infiniteScrollDistance]="0.5"
     (scrolled)="findMoreDataScrolling()"
     [scrollWindow]="false"
     id="profile-university"
     class="page-layout simple tabbed teacher-infinity-scroll">

    <!-- CONTENT -->
    <div class="content">

        <div id="about"
             class="p-24"
             fxLayout="row wrap">

            <!-- UNIVERSITY INFORMATION -->
            <div class="about-content"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="30"
                 fxFlex.gt-md="60">

                <!-- UNIVERSITY INFORMATION -->
                <div class="profile-box info-box general"
                     fxLayout="column"
                     style="border-radius: 28px">

                    <!-- SEARCH -->
                    <div fxLayout="row"
                         fxLayoutAlign="center center"
                         fxFlex>

                        <div class="search-wrapper-teacher-list">
                            <div class="search"
                                 fxFlex
                                 fxLayout="row"
                                 fxLayoutAlign="start center">
                                <mat-icon>
                                    search
                                </mat-icon>
                                <input [(ngModel)]="searchName"
                                       [placeholder]="'UNIVERSITY_TEACHER.SEARCH_TEACHERS'| translate"
                                       (keydown.enter)="searchByName()">
                            </div>

                        </div>

                    </div>
                    <!-- / SEARCH -->
                </div>

                <div class="profile-box info-box general"
                     fxLayout="column">
                    <!-- USER INFORMATION VIEW -->
                    <div class="content">

                        <div>

                            <div class="group border-bottom"
                                 fxLayout="row"
                                 fxLayoutAlign="space-between center"
                                 *ngFor="let teacherInfo of teacherInformationList; let i = index">

                                <div fxLayout="row"
                                     fxLayoutAlign="start center">
                                    <a [routerLink]="'/user-information/' + teacherInfo.userId">
                                        <div class="logo">
                                            <img class="avatar"
                                                 [src]="('/picture/file/' + teacherInfo.userId) | secure | async">
<!--                                                 [src]="('http://localhost:8700/picture/file/' + teacherInfo.userId) | secure | async">-->
                                        </div>
                                    </a>

                                    <div>
                                        <a [routerLink]="'/user-information/' + teacherInfo.userId">
                                            <div class="name">
                                                {{'#' + (i + 1) + '. ' + teacherInfo.lastName + ' ' + teacherInfo.firstName}}
                                            </div>
                                            <div class="category">
                                                {{teacherInfo.gradeName + ' = ' + teacherInfo.grade}}
                                            </div>
                                        </a>
                                        <div class="members">
                                        <span *ngIf="teacherInfo.userQuantity != null">
                                            {{('UNIVERSITY_TEACHER.GRADES'| translate) + teacherInfo.userQuantity}}
                                        </span>
                                            <span *ngIf="teacherInfo.userQuantity == null">
                                            {{'UNIVERSITY_TEACHER.GRADES_0'| translate}}
                                        </span>
                                        </div>

                                    </div>
                                </div>


                                <app-action-list [teacherId]="teacherInfo.userId"
                                                 [universityId]="universityId"
                                                 (removeTeacherFromList)="removeTeacher($event)">
                                </app-action-list>

                            </div>

                        </div>
                        <!-- / INFINITY SCROLL -->

                    </div>
                    <!-- / USER INFORMATION VIEW -->

                </div>
                <!-- / UNIVERSITY INFORMATION -->

            </div>
            <!-- / UNIVERSITY INFORMATION -->

            <!-- STATIC INFORMATION CONTENT -->
            <div class="about-sidebar"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="30"
                 fxFlex.gt-md="40">

                <!-- ADVERTISEMENT -->
                <div class="profile-box info-box general"
                     fxLayout="column">

                    <header class="content"
                            fxLayout="row"
                            fxLayoutAlign="space-between center">
                        <div class="h2 info-line university-name">
                            <img src="assets/images/backgrounds/Advertisement.png">
<!--                            Advertisement-->
                        </div>
                    </header>

<!--                    &lt;!&ndash; ADVERTISEMENT INFO &ndash;&gt;-->
<!--                    <div class="content">-->
<!--                        Static advertisement information-->
<!--                    </div>-->
<!--                    &lt;!&ndash; / ADVERTISEMENT INFO &ndash;&gt;-->

                </div>
                <!-- / ADVERTISEMENT -->

            </div>
            <!-- / STATIC INFORMATION CONTENT -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>

<!---->
<!---->
<!-- SEARCH -->
<!---->
<!---->

<div *ngIf="searchType === 'name'"
     infiniteScroll
     fusePerfectScrollbar
     [infiniteScrollDistance]="0.5"
     (scrolled)="searchMoreDataScrolling()"
     [scrollWindow]="false"
     id="profile-university"
     class="page-layout simple tabbed teacher-infinity-scroll">

    <!-- CONTENT -->
    <div class="content">

        <div id="about"
             class="p-24"
             fxLayout="row wrap">

            <!-- UNIVERSITY INFORMATION -->
            <div class="about-content"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="30"
                 fxFlex.gt-md="60">

                <!-- UNIVERSITY INFORMATION -->
                <div class="profile-box info-box general"
                     fxLayout="column"
                     style="border-radius: 28px">

                    <!-- SEARCH -->
                    <div fxLayout="row"
                         fxLayoutAlign="center center"
                         fxFlex>

                        <div class="search-wrapper-teacher-list">
                            <div class="search"
                                 fxFlex
                                 fxLayout="row"
                                 fxLayoutAlign="start center">
                                <mat-icon>
                                    search
                                </mat-icon>
                                <input [(ngModel)]="searchName"
                                       [placeholder]="'UNIVERSITY_TEACHER.SEARCH_TEACHERS'| translate"
                                       (keydown.enter)="searchByName()">
                            </div>

                        </div>

                    </div>
                    <!-- / SEARCH -->
                </div>

                <div class="profile-box info-box general"
                     fxLayout="column">
                    <!-- USER INFORMATION VIEW -->
                    <div class="content">

                        <div>

                            <div class="group border-bottom"
                                 fxLayout="row"
                                 fxLayoutAlign="space-between center"
                                 *ngFor="let teacherInfo of teacherInformationList; let i = index">

                                <div fxLayout="row"
                                     fxLayoutAlign="start center">
                                    <a [routerLink]="'/user-information/' + teacherInfo.userId">
                                        <div class="logo">
                                            <img class="avatar"
                                                 [src]="('/picture/file/' + teacherInfo.userId) | secure | async">
<!--                                                 [src]="('http://localhost:8700/picture/file/' + teacherInfo.userId) | secure | async">-->
                                        </div>
                                    </a>

                                    <div>
                                        <a [routerLink]="'/user-information/' + teacherInfo.userId">
                                            <div class="name">
                                                {{teacherInfo.lastName + ' ' + teacherInfo.firstName}}
                                            </div>
                                            <div class="category">
                                                {{teacherInfo.gradeName + ' = ' + teacherInfo.grade}}
                                            </div>
                                        </a>
                                        <div class="members">
                                        <span *ngIf="teacherInfo.userQuantity != null">
                                            {{('UNIVERSITY_TEACHER.GRADES'| translate) + teacherInfo.userQuantity}}
                                        </span>
                                            <span *ngIf="teacherInfo.userQuantity == null">
                                            {{'UNIVERSITY_TEACHER.GRADES_0'| translate}}
                                        </span>
                                        </div>

                                    </div>
                                </div>

                                <app-action-list [teacherId]="teacherInfo.userId"
                                                 [universityId]="universityId"
                                                 (removeTeacherFromList)="removeTeacher($event)">
                                </app-action-list>

                            </div>

                        </div>
                        <!-- / INFINITY SCROLL -->

                    </div>
                    <!-- / USER INFORMATION VIEW -->

                </div>
                <!-- / UNIVERSITY INFORMATION -->

            </div>
            <!-- / UNIVERSITY INFORMATION -->

            <!-- STATIC INFORMATION CONTENT -->
            <div class="about-sidebar"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="30"
                 fxFlex.gt-md="40">

                <!-- ADVERTISEMENT -->
                <div class="profile-box info-box general"
                     fxLayout="column">

                    <header class="content"
                            fxLayout="row"
                            fxLayoutAlign="space-between center">
                        <div class="h2 info-line university-name">
                            <img src="assets/images/backgrounds/Advertisement.png">
<!--                            Advertisement-->
                        </div>
                    </header>

<!--                    &lt;!&ndash; ADVERTISEMENT INFO &ndash;&gt;-->
<!--                    <div class="content">-->
<!--                        Static advertisement information-->
<!--                    </div>-->
<!--                    &lt;!&ndash; / ADVERTISEMENT INFO &ndash;&gt;-->

                </div>
                <!-- / ADVERTISEMENT -->

            </div>
            <!-- / STATIC INFORMATION CONTENT -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>
