@mixin user-settings($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-user-settings {

        #about-setting {

            .about-content {

                .work-setting {

                    .job {

                        .date {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .about-sidebar-setting {

                .groups {

                    .content-setting {

                        .group-setting {

                            .logo {
                                background-color: map-get($primary, default);
                                color: map-get($primary, default-contrast);
                            }

                            .category,
                            .members {
                                color: map-get($foreground, secondary-text);
                            }
                        }
                    }
                }
            }
        }

        .profile-box-setting {

            .content-setting {
                background-color: map-get($background, card);
            }

            footer {
                border-top-color: map-get($foreground, divider);
                background-color: rgba(0, 0, 0, 0.06);
            }
        }
    }
}
