@import "src/@fuse/scss/fuse";

.timeline-item {
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 4px;
    background-color: white;
    @include mat-elevation(2);

    &:last-child {
        margin-bottom: 0;
    }

    header {
        padding: 16px 0 8px 16px;

        .title {
            font-weight: 600;

            .username {
                margin-right: 2px;
            }
        }
    }

    .content {

        .publication-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .message {
            padding: 16px;
        }

        .media {
            padding: 16px;

            img, iframe {
                width: 100%;
            }

            a {
                color: inherit;
            }
        }

        .like-button,
        .share-button {
            padding: 4px 6px;
            text-transform: inherit;
            font-size: 13px;
            font-weight: normal;
            margin: 0 0 16px 8px;
            min-width: inherit;
            line-height: inherit;

            &:hover {
                background-color: transparent;
            }

            mat-icon {
                margin: 0 8px 0 0;
            }
        }

        .article {
            border: 1px solid;
            margin: 16px;

            .media {
                padding: 0;
                overflow: hidden;
                border-bottom: 1px solid;

                img {
                    display: block;
                    padding: 0;
                }
            }

            .title {
                font-size: 15px;
                padding: 16px 16px 4px 16px;
            }

            .subtitle {
                padding: 0 16px;
            }

            .excerpt {
                padding: 16px 16px;
            }
        }
    }
}

.about-information-area {
    margin-bottom: 2rem;
    white-space: pre-line;
    word-wrap: break-word;
}
