@import "src/@fuse/scss/fuse";

.main-content {

    .choose-picture-green {
        color: green;
    }

    .choose-link-orange {
        color: orange;
    }
}


textarea {
    width: 100% !important;
    //max-height: 24vh;
    //min-height: 24vh;
    max-height: 33vh;
    min-height: 33vh;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 13px;
}

.textarea-content {
    //height: 10vh;
    //max-height: 32vh;
}


.profile-image {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;

}

.secondary-text {
    flex: 1
}

.icon-cls {
    flex: 1;
    text-align: right;

    .icon-remove-color {
        color: black;
    }
}

.button-position {
    top: -9px;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.main-content-body-write {
    min-height: 35vh !important;
    max-height: 35vh !important;
    overflow-y: scroll
}
