@mixin universities-view-page($theme) {

    $foreground: map-get($theme, foreground);

    app-universities-view {

        .content {

            &.source {

                .cards {

                    .card {
                        border-bottom-color: map-get($foreground, divider);
                    }
                }
            }
        }
    }
}
