<div>
    <div class="title">
        Terms of use
    </div>

    <br>
    <br>


    <div>
        Welcome to World University Knowledge!
    </div>
    <br>


    <div>
        World University Knowledge creates technologies and services that enable people to connect with one another,
        build
        communities and grow businesses. This User Agreement governs your use of WUK and other products,
        features, applications, services, technologies and software that we offer (WUK Products or Products), unless
        expressly stated that separate terms apply (and this agreement does not applies). These products are provided to
        you
        by WUK, Inc.
    </div>
    <br>


    <div>
        We will not charge you for your use of WUK or other products and services covered by this Agreement. However,
        companies and organizations pay us to show you advertisements for their products and services. By using our
        Products, you agree that we may show you advertisements that we believe will be relevant to your interests. We
        use
        your personal information to determine which ads will be most relevant to you.
    </div>
    <br>


    <div>
        We do not sell your personal information to advertisers or provide them with personally identifiable information
        (such as your name, email address, or other contact information) unless you give us specific permission to do
        so.
        However, advertisers can tell us about the target audience for their advertisements, and we will show those ads
        to
        people for whom they will be relevant. We provide advertisers with ad performance reports that help them
        understand
        how people interact with their content. See section 2 below for details.
    </div>
    <br>


    <div>
        Our Data Usage Policy explains how we collect and use your personal data to determine which advertisements may
        be
        relevant to you and to provide other services described below. In the settings, you can change the privacy level
        regarding the use of your data at any time.
    </div>

</div>