@mixin teacher-rating-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    app-teacher-rating {

        #about {

            .about-content {

                .work {

                    .job {

                        .date {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .about-sidebar {

                .groups {

                    .content {

                        .group {

                            .logo {
                                background-color: map-get($primary, default);
                                color: map-get($primary, default-contrast);
                            }

                            .category,
                            .members {
                                color: map-get($foreground, secondary-text);
                            }
                        }
                    }
                }
            }
        }

        .profile-box {

            .content {
                background-color: map-get($background, card);
            }

            footer {
                border-top-color: map-get($foreground, divider);
                background-color: rgba(0, 0, 0, 0.06);
            }
        }
    }

    // Chat view
    app-view-chatting {

        .chat {

            .chat-toolbar {
                border-bottom-color: map-get($foreground, divider);
            }

            #chat-content {

                .message-row {

                    &.contact {

                        .bubble {
                            background-color: map-get($primary, default);
                            color: map-get($primary, default-contrast);
                        }
                    }

                    &.me {

                        .bubble {
                            color: rgba(0, 0, 0, 0.87);
                            background-color: #E0E0E0;
                        }
                    }
                }
            }

            .chat-footer {
                background: map-get($background, app-bar);
                border-top-color: map-get($foreground, divider);

                .reply-form {

                    .message-text {
                        background-color: map-get($background, app-bar);
                        border-color: map-get($foreground, divider);

                        .mat-form-field-wrapper {

                            .mat-form-field-flex {

                                .mat-form-field-infix {
                                    border-color: map-get($foreground, divider);

                                    @if ($is-dark == true) {
                                        background-color: map-get($background, hover);
                                    } @else {
                                        background-color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
