@import "src/@fuse/scss/fuse";

//HEADER
#profile-university {

    .header-university {
        height: 30vh;
        min-height: 30vh;
        max-height: 30vh;
        //background: url('/assets/images/backgrounds/worldMap.jpg') no-repeat 0 45%;
        background: no-repeat 0 50%;
        background-size: cover;
        border-radius: 10px;


        .profile-image-university {
            margin-right: 24px;
            border-radius: 8px;

            width: 10vh;
            height: 10vh;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}


//CONTENT

.university-name {
    font-weight: bold;
}

app-user-publication-one-page {

    #about {

        form {
            background-color: white;
        }

        .about-content {

            .general {

                .location {

                    mat-icon {
                        line-height: 13px !important;
                    }
                }
            }

            .work {

                .job {

                    .company {
                        padding: 0 16px 0 0;
                        font-weight: 600;
                    }
                }
            }
        }

        .about-sidebar {
            padding-left: 32px;

            @include media-breakpoint('sm') {
                padding: 8px
            }

            .friends {

                .content {

                    .friend {
                        padding: 4px;

                        img {
                            border-radius: 4px;
                        }
                    }
                }
            }

            .groups {

                .content {

                    .group {
                        margin-bottom: 24px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 48px;
                            height: 48px;
                            font-size: 21px;
                            line-height: normal;
                            border-radius: 50%;
                            margin-right: 16px;
                        }

                        .name {
                            font-weight: 600;
                            font-size: 15px;
                        }

                        .members {
                            margin-top: 8px;
                        }
                    }


                }
            }
        }

    }

    // Profile boxes
    .profile-box {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 16px;
            background-color: white;

            .title {
                font-size: 17px;
                font-weight: bold;

                .button-position {
                    bottom: 4px;
                    left: 5px;
                    height: 5px !important;
                    width: 5px !important;
                    font-size: 5px !important;
                }
            }

            .button-create-publication {
                background-color: #f0f2f5;
                text-align: left;
                width: 100%;
                border-radius: 16px;
                font-size: 20px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;

                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
