<div id="profile"
     class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header-user-profile p-24"
         fxLayout="column"
         fxLayoutAlign="center center"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end"
         *ngIf="profileBgPicture"
         id="image">

        <div class="user-info"
             fxLayout="column"
             fxLayoutAlign="center center"
             fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <img class="profile-image avatar huge"
                 [src]="profilePhoto | secure | async"
                 *ngIf="profilePhoto"
                 (click)="myProfileStat === true && changeImg('profile')"
                 [matTooltip]="'USER_INFORMATION_USER_VIEW.CHANGE_PHOTO'| translate"
                 [matTooltipDisabled]="!myProfileStat"
                 [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        </div>

        <div class="actions"
             fxLayout="row"
             fxLayoutAlign="end center"
             [@animate]="{value:'*',params:{delay:'200ms'}}">

            <button mat-raised-button
                    [matMenuTriggerFor]="menu"
                    aria-label="More">
                <mat-icon>
                    menu
                </mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <div *ngIf="!myProfileStat"
                     class="actions"
                     [@animate]="{value:'*',params:{delay:'200ms'}}">
                    <button mat-menu-item
                            aria-label="Follow"
                            *ngIf="!followingRequestStat && !followingStat"
                            (click)="following()">
                        <mat-icon>
                            star
                        </mat-icon>
                        <span>
                            {{'USER_INFORMATION_USER_VIEW.FOLLOW'| translate}}
                        </span>
                    </button>
                </div>
                <div *ngIf="!myProfileStat"
                     class="actions"
                     [@animate]="{value:'*',params:{delay:'200ms'}}">
                    <button mat-menu-item
                            aria-label="Remove Request"
                            *ngIf="followingRequestStat"
                            (click)="removeRequestFollow()">
                        <mat-icon>
                            recent_actors
                        </mat-icon>
                        <span>
                            {{'USER_INFORMATION_USER_VIEW.REMOVE_REQUEST_TO_FOLLOW'| translate}}
                        </span>
                    </button>
                </div>
                <div *ngIf="!myProfileStat"
                     class="actions"
                     [@animate]="{value:'*',params:{delay:'200ms'}}">
                    <button mat-menu-item
                            aria-label="Unfollow"
                            *ngIf="followingStat"
                            (click)="unFollowToUser()">
                        <mat-icon>
                            how_to_reg
                        </mat-icon>
                        <span>
                            {{'USER_INFORMATION_USER_VIEW.UNFOLLOW'| translate}}
                        </span>
                    </button>
                </div>
                <div *ngIf="!myProfileStat"
                     class="actions"
                     [@animate]="{value:'*',params:{delay:'200ms'}}">
                    <button mat-menu-item
                            aria-label="Send Message"
                            [disabled]="!followingStat"
                            (click)="sendMessage()">
                        <mat-icon>
                            message
                        </mat-icon>
                        <span>
                            {{'USER_INFORMATION_USER_VIEW.SEND_MESSAGE'| translate}}
                        </span>
                    </button>
                </div>

                <div *ngIf="myProfileStat"
                     class="actions"
                     [@animate]="{value:'*',params:{delay:'200ms'}}">
                    <button mat-menu-item
                            aria-label="Change background picture"
                            (click)="changeImg('background')">
                        <mat-icon>
                            camera_alt
                        </mat-icon>
                        <span>
                            {{'USER_INFORMATION_USER_VIEW.CHANGE_BACKGROUND'| translate}}
                        </span>
                    </button>
                </div>
            </mat-menu>
        </div>

    </div>
    <!-- / HEADER -->
    <!--    <br>-->

    <!-- CONTENT -->
    <div class="content">

        <div id="about"
             class="p-24"
             fxLayout="row wrap">

            <!-- USER INFORMATION -->
            <div class="about-content"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="30"
                 fxFlex.gt-md="30">

                <!-- USER INFORMATION -->
                <div class="profile-box info-box general"
                     fxLayout="column">

                    <header class="h1 name border-bottom"
                            [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2 info-line university-name"
                             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            <span class="user-info-name">
                                {{userInfo.lastName + ' ' + userInfo.firstName}}
                                <span *ngIf="userInfo.fathersName">
                                    {{userInfo.fathersName}}
                                </span>
                            </span>
                            <mat-icon class="button-position"
                                      [matTooltip]="'USER_INFORMATION_USER_VIEW.CHANGE'| translate"
                                      *ngIf="myProfileStat && editProfile"
                                      (click)="editProfile = !editProfile">
                                edit
                            </mat-icon>
                        </div>
                    </header>

                    <!-- EDIT PROFILE INFORMATION FORM -->
                    <form fxLayout="column"
                          fxLayoutAlign="start"
                          fxFlex="1 0 auto"
                          name="form"
                          [formGroup]="form"
                          *ngIf="editProfile !== true">
                        <br>

                        <!-- USER FULL NAME -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxFlex="1 0 auto">
                            <!-- FIRST NAME -->
                            <span>&nbsp;</span>
                            <mat-form-field appearance="outline"
                                            fxFlex="45"
                                            class="pr-4">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.FIRST_NAME'| translate}}
                                </mat-label>
                                <input matInput
                                       [readonly]="editProfile"
                                       formControlName="firstName"
                                       required
                                       [(ngModel)]="userInfo.firstName"
                                       [value]="userInfo.firstName">
                                <mat-icon matSuffix
                                          class="secondary-text">
                                    account_circle
                                </mat-icon>
                                <mat-error>
                                    {{'USER_INFORMATION_USER_VIEW.NAME_IS_REQUIRED'| translate}}
                                </mat-error>
                            </mat-form-field>
                            <!-- / FIRST NAME -->

                            <!-- LAST NAME -->
                            <mat-form-field appearance="outline"
                                            fxFlex="45"
                                            class="pl-4">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.LAST_NAME'| translate}}
                                </mat-label>
                                <input matInput
                                       [readonly]="editProfile"
                                       formControlName="lastName"
                                       required
                                       [(ngModel)]="userInfo.lastName"
                                       [value]="userInfo.lastName">
                                <mat-icon matSuffix
                                          class="secondary-text">
                                    account_circle
                                </mat-icon>
                                <mat-error>
                                    {{'USER_INFORMATION_USER_VIEW.LAST_NAME_IS_REQUIRED'| translate}}
                                </mat-error>
                            </mat-form-field>
                            <!-- / LAST NAME -->
                        </div>

                        <div>
                            <!-- FATHER'S NAME -->
                            <mat-form-field appearance="outline"
                                            fxFlex="45"
                                            class="pl-4">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.FATHERS_NAME'| translate}}
                                </mat-label>
                                <input matInput
                                       [readonly]="editProfile"
                                       formControlName="fathersName"
                                       [(ngModel)]="userInfo.fathersName"
                                       [value]="userInfo.fathersName">
                                <mat-icon matSuffix
                                          class="secondary-text">
                                    account_circle
                                </mat-icon>
                            </mat-form-field>
                            <!-- / FATHER'S NAME -->
                        </div>
                        <!-- / USER FULL NAME -->

                        <!-- BIRTHDAY -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxFlex="1 0 auto">
                            <span>&nbsp;</span>
                            <mat-form-field appearance="outline"
                                            fxFlex="45">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.BIRTHDAY'| translate}}
                                </mat-label>
                                <input matInput
                                       [matDatepicker]="picker"
                                       formControlName="birthday"
                                       [(ngModel)]="userInfo.userBirthday"
                                       [value]="userInfo.userBirthday">
                                <mat-datepicker-toggle matSuffix
                                                       [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker>
                                </mat-datepicker>
                                {{userInfo.userBirthday | date: 'dd MMMM yyyy'}}
                            </mat-form-field>
                        </div>
                        <!-- / BIRTHDAY -->

                        <!-- COUNTRY AND CITY SELECTOR -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxFlex="1 0 auto">
                            <span>&nbsp;</span>
                            <!-- COUNTRY SELECTOR -->
                            <mat-form-field appearance="outline"
                                            fxFlex="45">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.COUNTRY'| translate}}
                                </mat-label>
                                <mat-select formControlName="country"
                                            [(ngModel)]="userInfo.countryId"
                                            [value]="userInfo.countryId"
                                            (selectionChange)="getCityByCountry($event.value)">
                                    <div *ngFor="let country of countryList">
                                        <mat-option [value]="country.id">
                                            {{country.name}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                                <mat-icon matSuffix
                                          class="secondary-text">
                                    edit_location
                                </mat-icon>
                            </mat-form-field>
                            <!-- / COUNTRY SELECTOR -->

                            <!-- CITY SELECTOR -->
                            <mat-form-field appearance="outline"
                                            fxFlex="45"
                                            class="px-8">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.CITY'| translate}}
                                </mat-label>
                                <mat-select formControlName="city"
                                            [(ngModel)]="userInfo.cityId"
                                            [value]="userInfo.cityId">
                                    <div *ngFor="let city of cityList">
                                        <mat-option [value]="city.id">
                                            {{city.name}}
                                        </mat-option>
                                    </div>
                                </mat-select>
                                <mat-icon matSuffix
                                          class="secondary-text">
                                    location_city
                                </mat-icon>
                            </mat-form-field>
                            <!-- / CITY SELECTOR -->
                        </div>
                        <!-- / COUNTRY AND CITY SELECTOR -->

                        <!-- ABOUT ME -->
                        <div fxLayout="row"
                             fxLayoutAlign="start center"
                             fxFlex="1 0 auto">
                            <span>&nbsp;</span>
                            <mat-form-field appearance="outline"
                                            fxFlex="95">
                                <mat-label>
                                    {{'USER_INFORMATION_USER_VIEW.ABOUT_ME'| translate}}
                                </mat-label>
                                <textarea matInput
                                          formControlName="aboutMe"
                                          [(ngModel)]="userInfo.aboutMe"
                                          [value]="userInfo.aboutMe">
                            </textarea>
                            </mat-form-field>
                        </div>
                        <!-- / ABOUT ME -->

                        <div *ngIf="editProfile !== true"
                             class="actions"
                             fxLayout="row"
                             fxLayoutAlign="end center"
                             [@animate]="{value:'*',params:{delay:'200ms'}}">
                            <button mat-button
                                    aria-label="Send Message"
                                    (click)="cancel()">
                                {{'USER_INFORMATION_USER_VIEW.CANCEL'| translate}}
                            </button>
                            <span>&nbsp;</span>
                            <button mat-raised-button
                                    color="accent"
                                    aria-label="Save"
                                    (click)="save()">
                                {{'USER_INFORMATION_USER_VIEW.SAVE'| translate}}
                            </button>

                        </div>

                    </form>
                    <!-- / EDIT PROFILE INFORMATION FORM -->

                    <!-- USER INFORMATION VIEW -->
                    <div class="content"
                         *ngIf="editProfile === true">

                        <div class="info-line"
                             *ngIf="userInfo.userBirthday !== null">
                            <div class="title">
                                <mat-icon>
                                    date_range
                                </mat-icon>
                                {{'USER_INFORMATION_USER_VIEW.BIRTHDAY'| translate}}
                            </div>
                            <span>
                                {{userInfo.userBirthday | date: 'dd MMMM yyyy'}}
                            </span>
                        </div>

                        <div class="info-line"
                             *ngIf="countryName !== null || cityName !== null">
                            <div class="title">
                                <mat-icon>
                                    location_on
                                </mat-icon>
                                {{'USER_INFORMATION_USER_VIEW.FROM'| translate}}
                            </div>
                            <span *ngIf="countryName !== null">
                                {{countryName}}
                            </span>
                            <span *ngIf="countryName !== null && cityName !== null">
                                {{'- '}}
                            </span>
                            <span *ngIf="cityName !== null">
                                {{cityName}}
                            </span>
                        </div>

                        <div class="info-line"
                             *ngIf="userInfo.aboutMe !== null">
                            <div class="title">
                                <mat-icon>
                                    info
                                </mat-icon>
                                {{'USER_INFORMATION_USER_VIEW.ABOUT_ME'| translate}}
                            </div>
                            <p class="about-information-area">
                                {{userInfo.aboutMe}}
                            </p>
                        </div>
                    </div>
                    <!-- / USER INFORMATION VIEW -->

                </div>
                <!-- / USER INFORMATION -->

                <!-- EDUCATION INFORMATION CONTENT -->
                <div class="profile-box info-box work"
                     fxLayout="column">

                    <!-- HEADER AND ADD NEW EDUCATION INFORMATION -->
                    <header class="h1 name border-bottom" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2 info-line university-name">
                            {{'USER_INFORMATION_USER_VIEW.EDUCATION'| translate}}
                            <button class="button-position"
                                    mat-icon-button
                                    aria-label="Send Message"
                                    *ngIf="myProfileStat === true && editEducation === true"
                                    (click)="this.editEducation = !this.editEducation">
                                <mat-icon>
                                    edit
                                </mat-icon>
                            </button>
                        </div>
                    </header>
                    <!-- / HEADER AND ADD NEW EDUCATION INFORMATION -->

                    <div class="content"
                         *ngIf="editEducation !== true">
                        <div class="info-line">
                            <app-user-view-education-info [userEducationId]=0
                                                          (refreshParentView)="refreshFromChanging()">
                            </app-user-view-education-info>
                        </div>
                    </div>

                    <!-- USER EDUCATION VIEW -->
                    <div class="content">
                        <div class="info-line"
                             *ngFor="let userEducation of userEducationList; let i = index">
                            <app-user-view-education-info [userEducationId]=userEducation.id
                                                          (refreshParentView)="refreshFromChanging()">
                            </app-user-view-education-info>
                        </div>

                    </div>
                    <!-- / USER EDUCATION VIEW -->

                </div>
                <!-- / EDUCATION INFORMATION CONTENT -->

            </div>

            <!-- PUBLICATION -->
            <div class="about-sidebar"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="50"
                 fxFlex.gt-md="40">

                <div *ngIf="myProfileStat"
                     class="profile-box friends"
                     fxLayout="column">

                    <header fxLayout="row"
                            fxLayoutAlign="space-between center">
                        <img class="avatar"
                             [src]="profilePhoto | secure | async">
                        <button mat-button
                                class="button-create-publication"
                                aria-label="create"
                                (click)="createNewPublication()">
                            {{'USER_INFORMATION_USER_VIEW.CREATE_PUBLICATION'| translate}}
                        </button>
                    </header>

                </div>

                <div>
                    <app-university-publication-view-list
                        [userId]="userId"
                        [changeEngine]="changeEngine">
                    </app-university-publication-view-list>
                </div>

            </div>
            <!-- / PUBLICATION -->

            <!-- FOLLOWING / FOLLOWERS -->
            <div class="about-sidebar"
                 fxLayout="column"
                 fxFlex="100"
                 fxFlex.gt-sm="50"
                 fxFlex.gt-md="30">

                <!-- FOLLOWERS -->
                <div class="profile-box friends"
                     fxLayout="column">

                    <header class="h1 name border-bottom"
                            [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2 info-line university-name">
                            {{'USER_INFORMATION_USER_VIEW.FOLLOWERS'| translate}}
                        </div>
                        <!--                        <div class="more secondary-text">-->
                        <!--                            <span>See 454 more...</span>-->
                        <!--                        </div>-->
                    </header>

                    <div class="content">
                        <app-follower-list [userId]="userId">
                        </app-follower-list>
                    </div>

                </div>
                <!-- / FOLLOWERS -->

                <!-- FOLLOWING -->
                <div class="profile-box friends"
                     fxLayout="column">

                    <header class="h1 name border-bottom" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <div class="h2 info-line university-name">
                            {{'USER_INFORMATION_USER_VIEW.FOLLOWING'| translate}}
                        </div>
                    </header>

                    <div class="content">
                        <app-following-list [userId]="userId">
                        </app-following-list>
                    </div>

                </div>
                <!-- / FOLLOWING -->

            </div>
            <!-- / FOLLOWING / FOLLOWERS-->

        </div>

    </div>
    <!-- / CONTENT -->

</div>
