<div id="login"
     class="inner-scroll"
     fxLayout="row"
     fxLayoutAlign="start">

    <div id="login-intro"
         fxFlex
         fxShow.gt-xs>

        <!--        <div class="title"-->
        <!--             [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">-->
        <!--            <img style="width: 60%;" src="assets/images/logos/WUK_TEXT_LOGO.png">-->
        <!--        </div>-->
        <img style="width: 60%;" src="assets/images/logos/WUK_TEXT_LOGO.png">

        <div class="title-text"
             [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            {{'GLOBAL_MAIN_TEXT.TRUST_REALITY'| translate}}
        </div>

        <div class="description"
             [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
        </div>

    </div>

    <div id="login-form-wrapper"
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo">
                <!--                <img src="assets/images/logos/fuse.svg">-->
                <img src="assets/images/logos/WUK_logo.png">
            </div>

            <div class="title text-align">
                {{'LOGIN.LOGIN_TO_YOUR_ACCOUNT'| translate}}
            </div>

            <form name="loginForm"
                  [formGroup]="loginForm"
                  novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Email
                    </mat-label>
                    <input matInput
                           formControlName="email"
                           [(ngModel)]="userLogin.emailId">
                    <mat-icon matSuffix
                              class="secondary-text">
                        mail
                    </mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        {{'LOGIN.EMAIL_IS_REQUIRED'| translate}}
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        {{'LOGIN.PLEASE_ENTER_VALID_EMAIL'| translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        {{'LOGIN.PASSWORD'| translate}}
                    </mat-label>
                    <input matInput
                           type="password"
                           formControlName="password"
                           [(ngModel)]="userLogin.password">
                    <mat-icon matSuffix
                              class="secondary-text">
                        vpn_key
                    </mat-icon>
                    <mat-error>
                        {{'LOGIN.PASSWORD_IS_REQUIRED'| translate}}
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password"
                     fxLayout="row"
                     fxLayout.xs="column"
                     fxLayoutAlign="space-between center">

                    <a class="forgot-password"
                       [routerLink]="'/forgot'">
                        {{'LOGIN.FORGOT_PASSWORD'| translate}}
                    </a>
                </div>

                <button mat-raised-button
                        color="accent"
                        class="submit-button"
                        aria-label="LOGIN"
                        (click)="loginUser()"
                        [disabled]="loginForm.invalid">
                    {{'LOGIN.LOGIN'| translate}}
                </button>

            </form>

            <div class="separator">
                <span class="text">
                    {{'LOGIN.OR'| translate}}
                </span>
            </div>

            <div class="register"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <span class="text">
                    {{'LOGIN.DONT_HAVE_ACCOUNT'| translate}}
                </span>
                <a class="link"
                   [routerLink]="'/registration'">
                    {{'LOGIN.CREATE_ACCOUNT'| translate}}
                </a>
            </div>

            <div class="separator">
                <span class="text">
                    {{'LOGIN.OR'| translate}}
                </span>
            </div>

            <div class="register"
                 fxLayout="column"
                 fxLayoutAlign="center center">
                <span class="text">
                    {{'LOGIN.DEACTIVATED_OR_EXPIRED'| translate}}
                </span>
                <a class="link"
                   [routerLink]="'/generate'">
                    {{'LOGIN.GENERATE_TOKEN'| translate}}
                </a>
            </div>

            <table fxLayout="column"
                   fxLayoutAlign="center center">
                <tr>
                    <td *ngFor="let language of languageList">
                        <a (click)="chooseLanguage(language.name)">
                            {{language.name}}
                        </a>
                        <span>
                            &nbsp;
                        </span>
                    </td>
                </tr>
            </table>

        </div>

    </div>

</div>
