<div>
    <!-- LANGUAGE LIST -->
    <div>
        <mat-form-field class="form-width"
                        fxFlex="50">
            <mat-label>
                {{'SETTINGS.LANGUAGE'| translate}}
            </mat-label>
            <mat-select [(ngModel)]="myLanguage"
                        [value]="myLanguage"
                        (selectionChange)="chooseLanguage($event.value)">
                <div *ngFor="let language of languageList">
                    <mat-option [value]="language.name">
                        {{language.name}}
                    </mat-option>
                </div>
            </mat-select>
            <mat-icon matSuffix
                      class="secondary-text">
                translate
            </mat-icon>
        </mat-form-field>
    </div>
    <!-- / LANGUAGE LIST -->

    <!-- BUTTONS LIST -->
    <div fxLayout="row"
         fxLayoutAlign="end end">
        <button mat-button
                (click)="cancelChangeLanguage()">
            {{'SETTINGS.CANCEL'| translate}}
        </button>

        <span>
            &nbsp;
        </span>

        <div>
            <button mat-raised-button
                    class="accent" (click)="saveLanguage()">
                {{'SETTINGS.SAVE'| translate}}
            </button>
        </div>
    </div>
    <!-- / BUTTONS LIST -->

</div>
